.auth-container{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.general{
  width: 100%;
  display: flex;
}

.sidebar{
  width: 16.6667%;
  height: 100vh;
  background-color: rgb(217, 217, 217);
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
}

.logo{
  font-size: 4vw;
  align-content: center;
  text-align: center;
  text-decoration: none;
  color: black;
  margin-bottom: 11.1481vh;
}

.content{
  width: 83.3333%;
  margin-left: 16.6667%;
  height: 100vh;
  padding: 0;
}

.header{
  width: 100%;
  height: 10%;
  background-color: rgb(230, 230, 230);
  align-items: center;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 400;
}

.search{
  width: 54%;
  height: 5.648vh;
  background-color: rgb(250, 250, 250);
  border: none;
  outline: none;
  border-radius: 1vh;
  margin-left: 10vw;
  font-size: 4vh;
}

.page{
  display: flex;
  flex-direction: column;
  align-content: center;
}

.sidebar-button{
  width: 93.75%;
  height: 9.2593vh;
  background-color: rgb(183,183,183);
  margin-top: 2vh;
  margin-left: 0.4vw;
  border-radius: 0.52vw;
  align-content: center;
  text-align: center;
  font-size: 2.2vw;
  transition: background-color 0.4s ease;
  text-decoration: none;
  color:black;
  cursor: pointer;
}

.sidebar-button:hover{
  background-color: rgb(183,183,217);
}

.sidebar-button-add{
  width: 93.75%;
  height: 27.778vh;
  background-color: rgb(150,150,217);
  margin-top: 40vh;
  margin-left: 0.4vw;
  margin-bottom: 1vh;
  border-radius: 0.52vw;
  align-content: center;
  text-align: center;
  font-size: 2.2vw;
  bottom: 2vh;
  text-decoration: none;
  color:black;
  transition: background-color 0.4s ease;
  cursor: pointer;
}

.sidebar-button-add:hover{
  background-color: rgb(150,150,255);
}


.header-profile-button{
  width: 15.625vw;
  height: 6.667vh;
  background-color: rgb(150,150,217);
  margin-left: 15vw;
  margin-right: 2vw;
  border-radius: 0.52vw;
  align-content: center;
  text-align: center;
  font-size: 2.2vw;
  text-decoration: none;
  color:black;
  transition: background-color 0.4s ease;
  cursor: pointer;
}

.header-profile-button:hover{
  background-color: rgb(150,150,255);
}

.profile-text{
  align-content: center;
  text-align: center;
  font-size: 3vw;
  margin-top: 15vh;
}

.profile-button-exit{
  width: 100%;
  height: 5.21vw;
  background-color: rgb(217,150,150);
  margin-top: 30vh;
  padding-left: 0.65vw;
  padding-right: 0.65vw;
  border-radius: 0.52vw;
  align-content: center;
  text-align: center;
  font-size: 2.2vw;
  bottom: 2vh;
  text-decoration: none;
  color:black;
  transition: background-color 0.4s ease;
  cursor: pointer;
}

.profile-button-exit:hover{
  background-color: rgb(255,150,150);
}

.item-container{
  width: 100%;
  height: 100%;
}

.content-text{
  font-size: 2.5vw;
  text-decoration: none;
  color: black;
  padding-top: 12.5px;
  padding-left: 2.604vw;
}

.item-container{
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.item{
  width: 78.125vw;
  height: 100px;
  background-color: rgb(230, 230, 230);
  margin-top: 20px;
  border-radius: 1vw;
  display: flex;
  align-items: center;
}

.item-text{
  text-align: left;
  font-size: 2vw;
  margin-left: 1.04167vw;
}

.item-blue-button{
  position: absolute;
  left: 60.521vw;
  width: 16.04167vw;
  height: 80px;
  background-color: rgb(150,150,217);
  align-content: center;
  text-align: center;
  font-size: 2.2vw;
  border-radius: 0.83vw;
  transition: background-color 0.4s ease;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.item-blue-button:hover{
  background-color: rgb(150,150,255);
}

.item-red-button{
  position: absolute;
  left: 79.01vw;
  width: 16.04167vw;
  height: 80px;
  background-color: rgb(217,150,150);
  align-content: center;
  text-align: center;
  font-size: 2.2vw;
  border-radius: 0.83vw;
  transition: background-color 0.4s ease;
  cursor: pointer;
}

.item-red-button:hover{
  background-color: rgb(255,150,150);
}

.req-blue-button{
  position: absolute;
  left: 63.54167vw;
  width: 16.04167vw;
  height: 80px;
  background-color: rgb(150,150,217);
  align-content: center;
  text-align: center;
  font-size: 2.2vw;
  border-radius: 0.83vw;
  transition: background-color 0.4s ease;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.req-blue-button:hover{
  background-color: rgb(150,150,255);
}

.req-blue-button-small{
  position: absolute;
  left: 81.97917vw;
  width: 5.3125vw;
  height: 80px;
  background-color: rgb(150,150,217);
  align-content: center;
  text-align: center;
  font-size: 2.2vw;
  border-radius: 0.83vw;
  transition: background-color 0.4s ease;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.req-blue-button-small:hover{
  background-color: rgb(150,150,255);
}

.req-red-button-small{
  position: absolute;
  left: 89.6875vw;
  width: 5.3125vw;
  height: 80px;
  background-color: rgb(217,150,150);
  align-content: center;
  text-align: center;
  font-size: 2.2vw;
  border-radius: 0.83vw;
  transition: background-color 0.4s ease;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.req-red-button-small:hover{
  background-color: rgb(255,150,150);
}

.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
}

.modal-window{
  width: 36.45833vw;
  height: 64.8148vh;
  background-color: rgb(230, 230, 230);
  border-radius: 24px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.modal-file-input{
  width: 31.8287vw;
  height: 5.648vh;
  background-color: rgb(250, 250, 250);
  border: none;
  outline: none;
  border-radius: 1vh;
  margin-top: 1.8519vh;
  font-size: 4vh;
}

.modal-input{
  width: 20.8333vw;
  height: 5.648vh;
  background-color: rgb(250, 250, 250);
  border: none;
  outline: none;
  border-radius: 1vh;
  margin-top: 1.8519vh;
  font-size: 4vh;
}

.modal-button{
  width: 15.625vw;
  height: 9.2593vh;
  background-color: rgb(150,150,217);
  border-radius: 0.52vw;
  align-content: center;
  text-align: center;
  font-size: 2.2vw;
  bottom: 2vh;
  text-decoration: none;
  color:black;
  transition: background-color 0.4s ease;
  cursor: pointer;
}

.modal-button:hover{
  background-color: rgb(150,150,255);
}

.content-button{
  width: 78.125vw;
  height: 100px;
  background-color: rgb(170, 170, 217);
  margin-top: 20px;
  border-radius: 1vw;
  display: flex;
  align-items: center;
  transition: background-color 0.4s ease;
  cursor: pointer;
}

.content-button:hover{
  background-color: rgb(170, 170, 255);
}

.content-button-text{
  text-align: center;
  font-size: 2vw;
  margin-left: 1.04167vw;
}